.mifuente{
    font-family: cursive;
    font-size: 60px;
    background-color: darkgray;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 2px 1px;
    border-style: groove;
    border-color: black;
}
